*{
    background-color: black;
    color: white;
    
}
#detalhes{
    display: flex;
    flex-direction: row;
    align-items:center;
         
}

h1{
    text-align: center;
    text-transform: uppercase;
}

h2{
    text-align: center;
    text-transform: uppercase;
    margin-left: -100px;
    margin-top: 100px;
    padding: 10px;
}


img{
    margin-right: 20px;
    

}

.informacoes{
    margin-bottom: 10px;
    margin-top: 20px;

}

#div-informacoes{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin-top: 20px;
}

#button{
    display: block;
    text-align: center;
    text-decoration: none;
    color: azure;
    font-weight: 600;
    font-size: 2em;
    
}
#div-button{
    display: flex;
    width: 100vw;
    align-items:flex-end;
    justify-content:flex-end;
    padding: 20px;
    flex-direction: column;
 
}